*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #bde0fe;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
}

label{
    font-size: 18px;
    font-family: Consolas;
}

.main-canvas{
    background-color: aliceblue;
    width: 60%;
    border: 1px solid black;
    border-radius: 4px;
    height: 100%;
}

.control-panel{
    background-color: #8fc7fb;    
    border-radius: 5%;
    margin-left: 20px;
    padding: 2% 0;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-section{
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25%;
}

.control-button{
    background-color: #16181a;
    color: rgb(220, 224, 247);
    border: none;
    font-size: 24px;
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
    transition: color 0.5s, transform 0.2s, background-color 0.4s, border-radius 0.6s, scale 0.4s;
}

.control-button:hover{
    background-color: #5f00fb;
    color: rgb(255, 255, 255);
    scale: 1.03;
}

.input-panel{
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-section{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.input-field{
    font-size: 18px;
    padding: 4px 2px;
    margin-top: 6px;
    border: none;
    border-radius: 8px;
}

.input-field:focus{
    outline: none;
}

#color-input{
    padding: 0;
    border-radius: 0%;
    width: 100%;
    height: 30px;
}

.error-animation{
    color: red;
}